body {
  min-height: 2000px;
}
.triangleswrapper {
  border-top: 48px solid transparent;
  border-right: 48px solid black;
  border-bottom: 48px solid transparent;
  border-left: 0px;
  width: 0px;
  height: 436px;
  position:fixed;
  right: 20px;
  top: 50px;
}
#triangles {
  margin: 0; 
  width: 40px;
  padding-left: 4px;
  height: auto;
  
}

#triangles li {
  list-style-type: none;
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
  margin-top:-37px;
  
}

#triangles li:nth-child(even) {
  border-left: 40px solid white; 
  transition: 0.1s all; 
}

#triangles li:nth-child(odd) {
  border-right: 40px solid white; 
  transition: 0.5s all; 
}

.active-odd {
  border-right: 40px solid orange !important;
  transition: 0.1s all; 
}

.active-even {
   border-left: 40px solid orange !important;
   transition: 0.1s all;

}